body {
    background: rgb(32, 0, 119);
    background: linear-gradient(rgb(80, 0, 209), rgb(32,0,119));
    color: white;
    font-family: 'Roboto', sans-serif;
}

section, header{
    margin-left: 200px;
    margin-bottom: 30px;
    display: block;
}

footer{
    margin-left: 12em;
    margin-bottom: -1px;
}

.bbb {
    width: 102px;
    height: 38px;
}

.dsign{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    text-align: center;
}

aside.sidenav {
    height: 100%;
    width: 12em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(8, 0, 44);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav-bot{
    position: absolute;
    bottom: 8px;
}

.hl-1 {
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #00d3b0cb;
    display: block;
    transition: 0.3s;
    padding-bottom: 1em;
}

.hl-2{
    padding: 8px 8px 8px 20px;
}

.hl-2 img{
    width: 60px;
    height: 90px;
}


aside.sidenav p {
    padding: 6px 6px 6px 20px;
    font-size: 16px;
    color: #d400ff;
    display: block;
    transition: 0.3s;
}

aside.sidenav a:hover {
    color: #4b19ff;
}

h1{
    font-size: 60px;
}

h2{
    color: #708a00ea;
}

a{
    color: #43a047;
}

header{
    width: 530px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background-color: rgb(34, 34, 34);
}

.top-footer{
    background-color: white;
    text-align: center;
}

.top-footer img{
    width: 125px;
    height: 40px;
    padding: 5px 5px 5px 5px;
}

.bot-footer{
    text-align: center;
}


.bot-footer img{
    padding: 5px 5px 5px 5px;

}

.right-footer{
    float: right;
    width: 180px;
    margin-left: -180px;
    position: relative;
    padding: 10px; 
}

.left-footer{
    float: left;
    width: 110px;
    margin-right: -110px;
    position: relative;
    padding: 10px;
}

.ourClients {
    padding: 65px 0 55px 0;
    background: linear-gradient(to right, #03cb78 0%, #0056d8 100%);
}

.contactUs {
    padding: 65px 0 55px 0;
    background: linear-gradient(to right, #8203cb 0%, #0020d8 100%);
}
.comparation{
    padding: 65px 0 55px 0;
    background: linear-gradient(to right, #035acb 0%, #00d8a991 100%);
}

.blockTitle {
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: center;
    padding-bottom: 60px;
}

.ourClients .clientsRow, .contactUs .clientsRow{
    max-width: 800px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.ourClients img{
    width: 8.25em;
    height: 2.55em;
    padding: 3px 3px 3px 3px;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 10px;
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


